@charset "utf-8";
@import "./node_modules/bulma/sass/utilities/initial-variables.sass";
// If need, change your variables before importing Bulma
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
$family-sans-serif: "JetBrains Mono", sans-serif;
$family-primary:$family-sans-serif;
$black: #1a1a1a;
$body-background-color: $black;
$text: $white;
$primary: #618ded;
$primary-dark: darken($primary, 40%);
$info: #f685fc;
$box-background-color: lighten($black, 3%);
$footer-background-color: $black;
$footer-padding: 1rem 10rem 1rem;
$navbar-background-color: $black;
$navbar-tab-active-border-bottom-color: #f685fc;
$navbar-tab-hover-border-bottom-color: #f685fc;
$navbar-padding-horizontal: 10rem;
$content-heading-color: $white;

.glowBlue {
    color: #fff;
    text-shadow:
        0 0 0.033em #fff,
        0 0 0.08em #fff,
        0 0 0.1em #618ded,
        0 0 0.2em #618ded,
        0 0 0.3em #618ded,
        0 0 1em #618ded,
        0 0 1.5em #618ded;
}

.glowPink {
    color: #fff;
    text-shadow:
        0 0 0.033em #fff,
        0 0 0.08em #fff,
        0 0 0.1em #f685fc,
        0 0 0.2em #f685fc,
        0 0 0.3em #f685fc,
        0 0 1em #f685fc,
        0 0 1.5em #f685fc;
}

@import "./node_modules/bulma/bulma.sass";