@charset "utf-8";
@import "./node_modules/bulma/sass/utilities/initial-variables.sass";
// If need, change your variables before importing Bulma
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
$family-sans-serif: "JetBrains Mono", sans-serif;
$family-primary:$family-sans-serif;
$body-background-color: $black-ter;
$primary: #2e3d79;
$primary-dark: #3c50a0;
$content-blockquote-background-color: $primary-dark;
$navbar-dropdown-background-color: #3c50a0;
$info: #f27de8;
$text: $white;

.glow_blue {
    animation: glowBlue 1s infinite;
}

.glow_pink {
    animation: glowPink 1s infinite;
}

@keyframes glowBlue {
    from {
        text-shadow: 0 0 10px #618ded, 0 0 20px #618ded, 0 0 30px #618ded, 0 0 40px #618ded, 0 0 50px #618ded, 0 0 60px #618ded, 0 0 70px #618ded;
    }
    to {
        text-shadow: 0 0 10px #618ded, 0 0 20px #618ded, 0 0 30px #618ded, 0 0 40px #618ded, 0 0 50px #618ded, 0 0 60px #618ded, 0 0 70px #618ded;
    }
}

@keyframes glowPink {
    from {
        text-shadow: 0 0 10px #f685fc, 0 0 20px #f685fc, 0 0 30px #f685fc, 0 0 40px #f685fc;
    }
    to {
        text-shadow: 0 0 10px #f685fc, 0 0 20px #f685fc, 0 0 30px #f685fc, 0 0 40px #f685fc;
    }
}

@import "./node_modules/bulma/bulma.sass";